.card_h-footer {
    background-color: #f8f9fa;
    text-align: center;
    font-weight: bold;
  }
  
footer {
    width: 100%; /* Ensures the footer takes the full width */
    background-color: #333; /* Ensure it has a consistent background color */
    color: white;
    padding: 20px 0; /* Add some vertical padding for spacing */
    border-top: 2px solid var(--primary-color); /* Optional border for a neat touch */
    position: relative;
    bottom: 0;
  }
  
  .footer-fullwidth {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .footer-bottom {
    background-color: #444; /* Darker background for the copyright bar */
    padding: 10px;
    text-align: center;
  }
