
.news{
    color:white;
}
.notes{
    margin: 4rem;
    padding: .5rem;
    border: 1px solid black;
}
.grid-container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-left: 5px;
}
.accordion{
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}
.craft{
    border: 1px solid black;
    margin: 3rem;
}
.margin{
    margin: 3rem
}
.militia{
    padding: 3rem;
    border: 1px solid black;
}
.militiaA{
    padding: 1rem;
    border: 1px solid black;
}
.craftA{
    border: 1px solid black;
    margin: 3rem;
    padding: 1rem;
}
.sched{
    border: 2px solid black;
    margin: 2rem;
    padding: 1rem;
}
.schedA{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;

}
.logo{
    max-height: 80%;
}

.card_h-footer {
    background-color: #f8f9fa;
    text-align: center;
    font-weight: bold;
  }
  
footer {
    width: 100%; /* Ensures the footer takes the full width */
    background-color: #333; /* Ensure it has a consistent background color */
    color: white;
    padding: 20px 0; /* Add some vertical padding for spacing */
    border-top: 2px solid var(--primary-color); /* Optional border for a neat touch */
    position: relative;
    bottom: 0;
  }
  
  .footer-container {
    max-width: 1200px; /* Optional: Center the content with a max-width */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .footer-bottom {
    background-color: #444; /* Darker background for the copyright bar */
    padding: 10px;
    text-align: center;
  }
.class{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1rem;
    margin: .5rem;
}
